@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
$main-color: #ff98b2;
$primary-color: #16a0d8;
$info-color: #89dcfe;
$secondary-color: #aaaaaa;
$danger-color: #f70f68;
$warning-color: #ffbe25;
$success-color: #00d800;
$light-color: #ffffff;
$dark-color: #000000;
$main-font: "Sora", serif;

.products-card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    .product {
        width: 23%;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        img {
            width: 100%;
        }
        .product-info {
            text-align: center;
            .product-name {
                font-size: 1.5em;
            }
            .product-stars {
                img {
                    width: 100px;
                }
            }
            .product-price {
                font-size: 1.2em;
                margin-bottom: 5px;
            }
            button {
                border: none;
                padding: 10px;
                width: 100%;
                color: $light-color;
                background-color: $danger-color;
                cursor: pointer;
            }
        }
    }
}